*{
	margin: 0;
}

body{
	background: blue black;
	font-size: 12px;
}

    background-color: grey;
	width: 20px;
	height: 20px;

	}
ul{
    float: right;
}
ul li{
     display: inline-block;

}
  
li{
	padding: 10px;
	margin-right: 20px;
	margin-bottom: 80px;

}

h2{
	margin-top: 300px;
	margin-bottom: 0;
	padding: 50px;
	font-size:  
}


